*              text=auto

*.sln          text eol=crlf

*.csproj       text eol=crlf

*.cs           text eol=crlf
*.csx          text eol=crlf

*.props        text eol=crlf
*.targets      text eol=crlf
*.config       text eol=crlf
*.nuspec       text eol=crlf
*.resx         text eol=crlf
*.vsixmanifest text eol=crlf
*.vstemplate   text eol=crlf

*.xml          text eol=crlf
*.runsettings  text eol=crlf
*.json         text eol=crlf
*.yml          text eol=crlf
*.yaml         text eol=crlf
*.editorconfig text eol=crlf
*.config       text eol=crlf
*.manifest     text eol=crlf

*.md           text eol=crlf

*.ps1          text eol=crlf
*.bat          text eol=crlf

*.html         text eol=crlf
*.cshtml       text eol=crlf
*.aspx         text eol=crlf
*.razor        text eol=crlf

*.css          text eol=crlf
*.scss         text eol=crlf
*.less         text eol=crlf

*.js           text eol=crlf
*.ts           text eol=crlf
