variables:
  buildConfiguration: 'Release'

jobs:
- job: BuildAndRunCodeAnalysis
  displayName: Build and run code analysis
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution with code analysis
    inputs:
      command: build
      projects: '**\*.sln'
      arguments: -c $(buildConfiguration) -warnaserror

- job: RunTests
  displayName: Run tests
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      command: build
      projects: '**\*.sln'
      arguments: -c $(buildConfiguration) -p:RunCodeAnalysis=false
  - task: DotNetCoreCLI@2
    displayName: 'Run tests'
    timeoutInMinutes: 30
    inputs:
      command: test
      projects: '**\*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    condition: succeededOrFailed()
    inputs:
      artifactName: Test results
      targetPath: src/Atata.Tests/bin/$(buildConfiguration)/netcoreapp3.1/Logs