<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Atata Framework Empty Rules" Description="Empty code analysis rules for Atata Framework" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
</RuleSet>