<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Atata Framework Rules" Description="Code analysis rules for Atata Framework" ToolsVersion="16.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S101" Action="None" />
    <Rule Id="S103" Action="Warning" />
    <Rule Id="S104" Action="Warning" />
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1067" Action="Warning" />
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S113" Action="Warning" />
    <Rule Id="S1135" Action="None" />
    <Rule Id="S1145" Action="Warning" />
    <Rule Id="S1147" Action="Warning" />
    <Rule Id="S1151" Action="Warning" />
    <Rule Id="S1192" Action="Warning" />
    <Rule Id="S122" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S131" Action="Warning" />
    <Rule Id="S134" Action="Warning" />
    <Rule Id="S138" Action="Warning" />
    <Rule Id="S1541" Action="Warning" />
    <Rule Id="S1696" Action="Warning" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S2187" Action="None" />
    <Rule Id="S2302" Action="Warning" />
    <Rule Id="S2357" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2583" Action="None" />
    <Rule Id="S2699" Action="None" />
    <Rule Id="S3011" Action="None" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3240" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3254" Action="Warning" />
    <Rule Id="S3257" Action="Warning" />
    <Rule Id="S3358" Action="None" />
    <Rule Id="S3717" Action="Warning" />
    <Rule Id="S3881" Action="None" />
    <Rule Id="S3962" Action="Warning" />
    <Rule Id="S4004" Action="Warning" />
    <Rule Id="S4023" Action="Warning" />
    <Rule Id="S4035" Action="None" />
    <Rule Id="S4041" Action="Warning" />
    <Rule Id="S4047" Action="Warning" />
    <Rule Id="S4052" Action="Warning" />
    <Rule Id="S4261" Action="Warning" />
    <Rule Id="S881" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
  </Rules>
</RuleSet>