@page
@{
    ViewBag.Title = "Content";
}
<dl>
    <dt>Text</dt>
    <dd>Some Text</dd>
    <dt>Text with Spaces</dt>
    <dd>  Some Text </dd>
    <dt>Text Null</dt>
    <dd id="text-null">

    </dd>
    <dt>Number</dt>
    <dd>125.26</dd>
    <dt>Number Zero</dt>
    <dd>0</dd>
    <dt>Number Null</dt>
    <dd id="number-null">

    </dd>
    <dt>Number with Format</dt>
    <dd>count: 59</dd>

    <dt>Currency</dt>
    <dd>$125,234.26</dd>

    <dt>Currency FR</dt>
    <dd>-123,456 €</dd>

    <dt>Date</dt>
    <dd>5/15/2016</dd>
    <dt>Date Null</dt>
    <dd id="date-null">

    </dd>
    <dt>Date with Format</dt>
    <dd>15, June 2016 year</dd>

    <dt>Time</dt>
    <dd>17:15</dd>
    <dt>Time Null</dt>
    <dd id="time-null">

    </dd>
    <dt>Time of Day</dt>
    <dd>2:45 PM</dd>

    <dt>DateTime</dt>
    <dd>5/15/2016 1:45 PM</dd>
    <dt>DateTime with Format</dt>
    <dd>Monday, June 15, 2009 1:45 PM</dd>

    <dt>Complex Text</dt>
    <dd>
        The quick <strong>brown</strong> fox <span><span>jumps</span> over</span> the lazy dog.
    </dd>
</dl>
<div id="hidden-div" hidden>
    Some <b>text</b>
</div>
<div id="visible-div">
    Some <b>text</b>
</div>
