@page
@{
    ViewBag.Title = "Frame Inner 1";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="text-input">Text Input</label>
            <input id="text-input" type="text" class="form-control" />
        </div>
    </div>
</div>
