@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>FrameSet - Atata</title>
</head>
<frameset cols="*,*,*">
    <frame src="frameinner1">
    <frame src="frameinner2">
    <frame src="frameinner1">
</frameset>
</html>
