@page
@{
    ViewBag.Title = "Image";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img id="loaded-image" src="~/images/350x150.png" />
        <br />
        <img id="not-loaded-image" src="~/images/missing.png" width="350" height="150" />
    </div>
</div>
