@page
@{
    ViewBag.Title = "Input";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="text-input">Text Input</label>
            <input id="text-input" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="enum-text-input">Enum Text Input</label>
            <input id="enum-text-input" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="int-text-input">Int Text Input</label>
            <input id="int-text-input" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="tel-input">Tel Input</label>
            <input id="tel-input" type="tel" class="form-control" />
        </div>
        <div class="form-group">
            <label for="file-input">File Input</label>
            <input id="file-input" type="file" />
        </div>
        <div class="form-group">
            <label for="search-input">Search Input</label>
            <input id="search-input" type="search" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email-input">Email Input</label>
            <input id="email-input" type="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="url-input">URL Input</label>
            <input id="url-input" type="url" class="form-control" />
        </div>
        <h2>Custom</h2>
        <div class="form-group custom-datepicker">
            <label for="url-input">Custom Date Picker</label>
            <input id="date-input" type="text" class="form-control" />
        </div>
    </div>
</div>
