@page
@{
    ViewBag.Title = "Frame";
}
<div class="row">
    <div class="col-md-6">
        <iframe id="iframe-1" src="frameinner1" width="500" height="300" align="middle"></iframe>
    </div>
    <div class="col-md-6">
        <iframe id="iframe-2" src="frameinner2" width="500" height="300" align="middle"></iframe>
    </div>
</div>
