@page
@{
    ViewBag.Title = "GoTo 1";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <a class="btn btn-link" href="goto2">Go to 2</a>
        <a class="btn btn-link" href="goto2">Go to 2 Temporarily</a>
        <a class="btn btn-link" href="goto2" target="_blank">Go to 2 Blank</a>
    </div>
</div>
