@page
@{
    ViewBag.Title = "Popup Box";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-default">None</button>
        <button class="btn btn-default" onclick="alert('Alert!!!');">Alert</button>
        <button class="btn btn-default" onclick="waitAndShowAlert();">Alert With Delay</button>
        <a class="btn btn-link" href="goto1" onclick="return confirm('Are you sure?');">Confirm</a>
        <button class="btn btn-default" onclick="showPrompt();">Prompt</button>
        <output id="prompt-entered-value"></output>
    </div>
</div>

<script>
    function waitAndShowAlert() {
        setTimeout(function () {
            alert('Alert with delay!!!');
        }, 2000);
    }

    function showPrompt() {
        var name = prompt('What is your name?', '');
        document.getElementById("prompt-entered-value").textContent = name;
    }
</script>