@page
@{
    ViewBag.Title = "Select";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="text-select">Text Select</label>
            <select id="text-select" class="form-control">
                <option value="">--select--</option>
                <option value="OptionA">Option A</option>
                <option value="OptionB">Option B</option>
                <option value="OptionC">Option C</option>
                <option value="OptionD">Option D</option>
            </select>
        </div>
        <div class="form-group">
            <label for="int-select">Int Select</label>
            <select id="int-select" class="form-control">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
            </select>
        </div>
        <div class="form-group">
            <label for="text-select-with-empty-option">Text Select With Empty Option</label>
            <select id="text-select-with-empty-option" class="form-control">
                <option value=""></option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>
    </div>
</div>
