<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="Logs//Log4Net//Debug.log"/>
    <appendToFile value="false"/>
    <param name="RollingStyle" value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %m%n"/>
    </layout>
  </appender>

  <appender name="DefaultInfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="Logs//Log4Net//Info.log"/>
    <appendToFile value="false"/>
    <param name="RollingStyle" value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%thread] %-5p %m%n"/>
    </layout>
  </appender>

  <logger name="DebugLogger">
    <level value="DEBUG"/>
    <appender-ref ref="DebugFileAppender"/>
  </logger>

  <root>
    <level value="INFO"/>
    <appender-ref ref="DefaultInfoFileAppender"/>
  </root>
</log4net>
