<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="Logs//Log4NetConsumerTests//Log4Net.log"/>
    <appendToFile value="false"/>
    <param name="RollingStyle" value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d  %-5p %m%n"/>
    </layout>
  </appender>

  <appender name="LogFileAppender2" type="log4net.Appender.RollingFileAppender">
    <File value="Logs//Log4NetConsumerTests//Log4Net2.log"/>
    <appendToFile value="false"/>
    <param name="RollingStyle" value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%thread] %-5p %m%n"/>
    </layout>
  </appender>

  <logger name="AtataLog4Net">
    <appender-ref ref="LogFileAppender"/>
  </logger>

  <root>
    <level value="TRACE"/>
    <appender-ref ref="LogFileAppender2"/>
  </root>
</log4net>
