<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata.WebDriverExtras" version="1.0.0" targetFramework="net45" />
  <package id="FluentAssertions" version="5.4.2" targetFramework="net45" />
  <package id="NLog" version="4.5.6" targetFramework="net45" />
  <package id="NLog.Config" version="4.5.6" targetFramework="net45" />
  <package id="NLog.Schema" version="4.5.6" targetFramework="net45" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net45" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.12.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="3.12.0" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net45" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>