<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata.WebDriverExtras" version="0.13.0" targetFramework="net45" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.0" targetFramework="net45" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net45" developmentDependency="true" />
  <package id="WebDriver.ChromeDriver.win32" version="2.33.0.0" targetFramework="net45" />
  <package id="WebDriver.IEDriverServer.win32" version="3.6.0" targetFramework="net45" />
</packages>