<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata.WebDriverExtras" version="0.12.0" targetFramework="net40" />
  <package id="Selenium.Support" version="3.5.2" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.5.2" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net40" developmentDependency="true" />
</packages>