@page
@{
    ViewBag.Title = "TinyMCE";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <textarea id="basic"></textarea>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.6.2/tinymce.min.js" integrity="sha512-sOO7yng64iQzv/uLE8sCEhca7yet+D6vPGDEdXCqit1elBUAJD1jYIYqz0ov9HMd/k30e4UVFAovmSG92E995A==" crossorigin="anonymous"></script>
    <script>
        tinymce.init({
            selector: 'textarea#basic',
            menubar: false
        });
    </script>
}