<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DefaultTraceFileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="Log4NetLogs//Trace.log"/>
    <appendToFile value="false"/>
    <param name="RollingStyle" value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %m%n"/>
    </layout>
  </appender>

  <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="Log4NetLogs//Info.log"/>
    <appendToFile value="false"/>
    <param name="RollingStyle" value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%thread] %-5p %m%n"/>
    </layout>
  </appender>

  <logger name="InfoLogger">
    <level value="INFO"/>
    <appender-ref ref="InfoFileAppender"/>
  </logger>

  <root>
    <level value="ALL"/>
    <appender-ref ref="DefaultTraceFileAppender"/>
  </root>
</log4net>
